meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

block title
	title #{title}

if mode === 'production'
	meta(name="theme-color" content="#fff")
	meta(name="description" itemprop="description" content="Заказать семантическое ядро (подбор ключевых слов) можно на этой странице. Стоимость - от 60$, качество и сервис на высшем уровне")
	meta(name="keywords" itemprop="keywords" content="Заказать семантическое ядро,семантическое ядро,заказ семантического ядра,составление семантического ядра,подбор ключевых слов,анализ семантического ядра,разработка семантического ядра,пример семантического ядра")

	link(rel="apple-touch-icon" sizes="120x120" href=require('../img/favicon/apple-touch-icon.png'))
	link(rel="icon" type="image/png" sizes="32x32" href=require('../img/favicon/favicon-32x32.png'))
	link(rel="icon" type="image/png" sizes="16x16" href=require('../img/favicon/favicon-16x16.png'))
	link(rel="manifest" href=require('../img/favicon/site.webmanifest'))
	link(rel="mask-icon" href=require('../img/favicon/safari-pinned-tab.svg') color="#5bbad5")

	script(type="text/javascript" async="" src="https://www.googleadservices.com/pagead/conversion_async.js")
	script(src="https://connect.facebook.net/signals/config/2955185361204316?v=2.9.29&amp;r=stable" async="")
	script(async="" src="https://connect.facebook.net/en_US/fbevents.js")
	script(async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-MXJ9CBS")

	<!-- Google Tag Manager -->
	script.
		(function(w,d,s,l,i){w[l] = w[l] || [];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-MXJ9CBS');
	<!-- End Google Tag Manager -->

	<!-- Facebook Pixel Code -->
	script.
		!function (f, b, e, v, n, t, s) {
			if (f.fbq) return;
			n = f.fbq = function () {
				n.callMethod ?
						n.callMethod.apply(n, arguments) : n.queue.push(arguments)
			};
			if (!f._fbq) f._fbq = n;
			n.push = n;
			n.loaded = !0;
			n.version = '2.0';
			n.queue = [];
			t = b.createElement(e);
			t.async = !0;
			t.src = v;
			s = b.getElementsByTagName(e)[0];
			s.parentNode.insertBefore(t, s)
		}(window, document, 'script',
				'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '2955185361204316');
		fbq('track', 'PageView');
	<!-- End Facebook Pixel Code -->

	<!-- Global site tag (gtag.js) - Google Ads: 1007867658 -->
	script(async="" src="https://www.googletagmanager.com/gtag/js?id=AW-1007867658")

	script.
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'AW-1007867658');

	script(src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/1007867658/?random=1606755005532&amp;cv=9&amp;fst=1606755005532&amp;num=1&amp;bg=ffffff&amp;guid=ON&amp;resp=GooglemKTybQhCsO&amp;u_h=1080&amp;u_w=1920&amp;u_ah=1080&amp;u_aw=1920&amp;u_cd=24&amp;u_his=1&amp;u_tz=120&amp;u_java=false&amp;u_nplug=3&amp;u_nmime=4&amp;gtm=2oab41&amp;sendb=1&amp;ig=1&amp;data=event%3Dgtag.config&amp;frm=0&amp;url=https%3A%2F%2Falexpavlutskiy.com%2Fsemanticheskoe-yadro%2F&amp;tiba=%D0%A1%D0%B5%D0%BC%D0%B0%D0%BD%D1%82%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%BE%D0%B5%20%D1%8F%D0%B4%D1%80%D0%BE%20%D0%BD%D0%B0%20%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%2C%20%D0%BF%D1%80%D0%B8%D0%BC%D0%B5%D1%80%2C%20%D1%81%D0%BE%D1%81%D1%82%D0%B0%D0%B2%D0%BB%D0%B5%D0%BD&amp;hn=www.googleadservices.com&amp;async=1&amp;rfmt=3&amp;fmt=4")
