
if mode === 'production'

     each file in htmlWebpackPlugin.files.css
       if process.env.BUILD_REQUIRED_MIN_CSS === 'true'
           if file.search('.min') > -1
               link(href=file rel="preload" as="style")
       else
           if file.search('.min') <= -1
               link(href=file rel="preload" as="style")

     link(href=require('../../../fonts/Inter/Inter-Medium.ttf') rel="preload" as="font" type="font/ttf" crossorigin)
     link(href=require('../../../fonts/Inter/Inter-Regular.ttf') rel="preload" as="font" type="font/ttf" crossorigin)
     link(href=require('../../../fonts/Inter/Inter-SemiBold.ttf') rel="preload" as="font" type="font/ttf" crossorigin)
     link(href=require('../../../fonts/Inter/Inter-Bold.ttf') rel="preload" as="font" type="font/ttf" crossorigin)
     link(href=require('../../../fonts/icomoon/icomoon.ttf') rel="preload" as="font" type="font/ttf" crossorigin)

     each file in htmlWebpackPlugin.files.css
         if process.env.BUILD_REQUIRED_MIN_CSS === 'true'
             if file.search('.min') > -1
                 link(href=file rel="stylesheet")
         else
             if file.search('.min') <= -1
                 link(href=file rel="stylesheet")
