section.reviews
    .container
        h2.section-title.reviews__title#anchor-reviews Нас рекомендуют

        .reviews__inner

            ul.nav.nav-tabs.reviews__tab-bar
                li <a data-toggle="tab" href="#tab-companies" class="btn btn-primary-tab active">Компании</a>
                li <a data-toggle="tab" href="#tab-shops" class="btn btn-primary-tab">Интернет-магазины</a>
                li <a data-toggle="tab" href="#tab-entrepreneurs" class="btn btn-primary-tab">Предприниматели</a>
                li <a data-toggle="tab" href="#tab-blogger" class="btn btn-primary-tab">Блогеры</a>

            .tab-content.reviews__tab-content-box
                .tab-pane.fade.active.show#tab-companies

                    .swiper-container.reviews__slider
                        .reviews__tab-content.swiper-wrapper
                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/company-aval.jpg') alt="Банк Аваль" ).reviews-card__img
                                    a( href="https://alaev.info/" target="_blank" rel="nofollow" ).reviews-card__title Банк Аваль
                                    .reviews-card__description Райффайзен Банк Аваль Украина

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/company-lpmotor.jpg') alt="LP Motor" ).reviews-card__img
                                    a( href="http://www.lpmotor.ru/" target="_blank" rel="nofollow" ).reviews-card__title LP Motor
                                    .reviews-card__description Ведущий сервис по созданию лендингов

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/company-nmarket.jpg') alt="НМаркет").reviews-card__img
                                    a( href="http://www.nmarket.ru/" target="_blank" rel="nofollow" ).reviews-card__title НМаркет
                                    .reviews-card__description Строительная компания в СПБ

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/company-alliance.jpg') alt="ЭстэтикАльянс").reviews-card__img
                                    a( href="http://www.esteticalliance.ru/" target="_blank" rel="nofollow" ).reviews-card__title ЭстэтикАльянс
                                    .reviews-card__description Центр эстетической медицины

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/company-ppt.jpg') alt="PPT").reviews-card__img
                                    a( href="http://www.ppt.ru/" target="_blank" rel="nofollow" ).reviews-card__title PPT
                                    .reviews-card__description Петербургский правовой портал

                        .slider__pagination.reviews__slider-pagination

                .tab-pane.fade#tab-shops

                    .swiper-container.reviews__slider
                        .reviews__tab-content.swiper-wrapper
                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/shop-unizoo.jpg') alt="ЮниЗоо" ).reviews-card__img
                                    a( href="http://www.unizoo.ru/" target="_blank" rel="nofollow" ).reviews-card__title ЮниЗоо
                                    .reviews-card__description Магазин зоотоваров

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/shop-zakazaka.jpg') alt="ZakaZaka" ).reviews-card__img
                                    a( href="http://www.zakazaka.ru/" target="_blank" rel="nofollow" ).reviews-card__title ZakaZaka
                                    .reviews-card__description Сервис доставки еды

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/shop-megamind.jpg') alt="Megamind" ).reviews-card__img
                                    a( href="http://www.megamind.ru/" target="_blank" rel="nofollow" ).reviews-card__title Megamind
                                    .reviews-card__description Магазин оригинальных подарков

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/shop-bioman.jpg') alt="Bioman").reviews-card__img
                                    a( href="http://www.bioman.ru/" target="_blank" rel="nofollow" ).reviews-card__title Bioman
                                    .reviews-card__description Магазин спортивного питания

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/shop-tattoomall.jpg') alt="Tattoomall.ru" ).reviews-card__img
                                    a( href="http://www.tattoomall.ru/" target="_blank" rel="nofollow" ).reviews-card__title Tattoomall.ru
                                    .reviews-card__description Поставщик тату-оборудования

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/shop-iqbaby.jpg') alt="IQ Baby").reviews-card__img
                                    a( href="http://www.iqbaby.ru/" target="_blank" rel="nofollow" ).reviews-card__title IQ Baby
                                    .reviews-card__description Магазин детских товаров`

                        .slider__pagination.reviews__slider-pagination

                .tab-pane.fade#tab-entrepreneurs

                    .swiper-container.reviews__slider
                        .reviews__tab-content.swiper-wrapper
                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/entrepreneurs-turevski-ava.jpg') alt="Марк Туревский" ).reviews-card__img
                                    a( href="http://www.dialog-of-cultures.com/" target="_blank" rel="nofollow" ).reviews-card__title Марк Туревский
                                    .reviews-card__description Президент Международной Академии Лидерства в Бизнесе и Администрации

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/entrepreneurs-danilov-ava.jpg') alt="Олег Данилов").reviews-card__img
                                    a( href="http://www.facebook.com/odanilov" target="_blank" rel="nofollow" ).reviews-card__title Олег Данилов
                                    .reviews-card__description Руководитель отдела развития бизнеса в Mail.Ru Group

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/entrepreneurs-struve-ava.jpg') alt="Мария Струве").reviews-card__img
                                    a( href="http://www.centerstruve.com/" target="_blank" rel="nofollow" ).reviews-card__title Мария Струве
                                    .reviews-card__description Вокальный педагог Первого канала

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/entrepreneurs-alaev-ava.jpg') alt="Александр Алаев").reviews-card__img
                                    a( href="http://www.alaev.info/" target="_blank" rel="nofollow" ).reviews-card__title Александр Алаев
                                    .reviews-card__description Директор веб-студии

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/entrepreneurs-shvets-ava.jpg') alt="Сергей Швец").reviews-card__img
                                    a( href="http://www.shvets.net/" target="_blank" rel="nofollow" ).reviews-card__title Сергей Швец
                                    .reviews-card__description Владелец веб-студии

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/entrepreneurs-viktor-ava.jpg') alt="Виктор Рог" ).reviews-card__img
                                    a( href="https://webformyself.com/" target="_blank" rel="nofollow" ).reviews-card__title Виктор Рог
                                    .reviews-card__description Основатель центра обучения Webformyself
                        .slider__pagination.reviews__slider-pagination

                .tab-pane.fade#tab-blogger

                    .swiper-container.reviews__slider
                        .reviews__tab-content.swiper-wrapper
                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/blogger-shahov-ava.jpg') alt="Дмитрий Шахов").reviews-card__img
                                    a( href="http://www.bablorub.blogspot.com/" target="_blank" rel="nofollow" ).reviews-card__title Дмитрий Шахов
                                    .reviews-card__description Владелец студии Ремарка, автор блога баблоруб.

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/blogger-sahnick-ava.jpg') alt="Вадим Сахник").reviews-card__img
                                    a( href="http://www.wildo.ru/" target="_blank" rel="nofollow" ).reviews-card__title Вадим Сахник
                                    .reviews-card__description Автор блога Wildo

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/blogger-koksharov-ava.jpg') alt="Сергей Кокшаров").reviews-card__img
                                    a( href="http://www.devaka.ru/" target="_blank" rel="nofollow" ).reviews-card__title Сергей Кокшаров
                                    .reviews-card__description Автор блога Devaka

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/blogger-shakin-ava.jpg') alt="Михаил Шакин").reviews-card__img
                                    a( href="http://www.devaka.ru/" target="_blank" rel="nofollow" ).reviews-card__title Михаил Шакин
                                    .reviews-card__description Автор блога Shakin

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/blogger-petrakov-ava.jpg') alt="Антон Петряков").reviews-card__img
                                    a( href="http://www.freshlife28.ru/" target="_blank" rel="nofollow" ).reviews-card__title Антон Петряков
                                    .reviews-card__description Автор видеоблога

                            .reviews-card.swiper-slide
                                .reviews-card__inner
                                    img( src=require('../../img/reviews/blogger-terehoff-ava.jpg') alt="Алексей Терехов").reviews-card__img
                                    a( href="http://www.terehoff.com/" target="_blank" rel="nofollow" ).reviews-card__title Алексей Терехов
                                    .reviews-card__description Автор блога Terehoff

                        .slider__pagination.reviews__slider-pagination

    .reviews__down-line.reviews-down-line
        img( src=require('../../img/decor-3.png') alt="").dot.dot-3.reviews-down-line__dot-right

        .container
            .reviews-down-line__inner

                .reviews-down-line__text
                    h3.reviews-down-line__title И еще <span class="primary-color">1000+</span> Довольных Клиентов
                    p Станьте одним из них!

                .reviews-down-line__buttons
                    a( href="#" data-toggle="modal" data-target="#modal-order" ).reviews-down-line__button.btn.btn-primary Заказать
                    a( href="#" target="_blank" ).reviews-down-line__button.btn.btn-primary-while.btn-icon
                        i.icon-telegram
                        span Телеграм
