section.cases
    .container
        h2.section-title.cases__title#anchor-cases Наши кейсы

    .cases__content
        img( src=require('../../img/decor-3.png') ).dot.dot-3.cases__dot-right
        img( src=require('../../img/decor-1.png') ).dot.dot-1.cases__dot-left

        .container
            .cases__inner
                .swiper-container.cases__slider
                    .slider__arrows.cases__slider-arrows
                        .slider__arrow.btn.btn-round-arrow.swiper-button-prev
                            i.icon-left-arrow
                        .slider__arrow.btn.btn-round-arrow.swiper-button-next
                            i.icon-right-arrow

                    .swiper-wrapper

                        .swiper-slide.slider__slide
                            .cases__case.case-card
                                .case-card__inner
                                    img( src=require('../../img/case-1.jpg') ).case-card__image
                                    .case-card__content

                                        .section-subtitle-1.case-card__content-title Клиентский проект под финскую стоматологию.

                                        .case-card__content-primary-blcok С 0 до 350 посетителей в сутки

                                        .case-card__content-group
                                            .case-card__content-secondary-block 1.4 млн.
                                            p Доход привлеченный за два года работы,  создавая для клиента органический поток SEO-трафика.

                                        .case-card__content-group
                                            .case-card__content-secondary-block 28 тыс.
                                            p Затраты на SEO-продвижение

                                        ul.case-card__content-list.list
                                            li Полностью сделана семантика и On-Page.
                                            li Постоянно ведется работа над линкбилдингом и управлением копирайтерами.

                                        .case-card__content-links
                                            a( href="#" target="_blank" ).btn-underline-loupe.case-card__content-link
                                                i.icon-zoom-in
                                                span Search Console

                                            a( href="#" target="_blank" ).btn-underline-loupe.case-card__content-link
                                                i.icon-zoom-in
                                                span Google Analytics


                        .swiper-slide.slider__slide
                            .cases__case.case-card
                                .case-card__inner
                                    img( src=require('../../img/case-2.jpg') ).case-card__image
                                    .case-card__content

                                        .section-subtitle-1.case-card__content-title Собственный контентный проект.

                                        .case-card__content-primary-blcok.mb-min С 0 до 17 000 посетителей в сутки

                                        p.case-card__content-paragraph.
                                            Монетизация - AdSense, Push и CPA <br/>
                                            Тематика - IT <br/>
                                            Регион - Германия

                                        ul.case-card__content-list.mt-min.list
                                            li Максимальный упор на семантику и On-Page.
                                            li Линкбилдинг делался своими руками, без покупки и затрат на ссылки.
                                            li Крупные статьи и PowePage собирают основной трафик.

                                        .case-card__content-links
                                            a( href="#" target="_blank" ).btn-underline-loupe.case-card__content-link
                                                i.icon-zoom-in
                                                span Yandex Metrica


                        .swiper-slide.slider__slide
                            .cases__case.case-card
                                .case-card__inner
                                    img( src=require('../../img/case-3.jpg') ).case-card__image
                                    .case-card__content

                                        .section-subtitle-1.case-card__content-title Собственный мультиязычный проект.

                                        .case-card__content-primary-blcok.mb-min С 0 до 20 000 посетителей в сутки

                                        p.case-card__content-paragraph.
                                            Монетизация - CPA, AdSense и Push <br/>
                                            Тематика - Обучающие статьи <br/>
                                            Регион - Мультиязычный сайт на 40 языков

                                        ul.case-card__content-list.mt-min.list
                                            li Максимальный упор на геренацию мета-тегов, On-Page.
                                            li Посетители приходят по десяткам тысячам микро НЧ запросов.

                                        .case-card__content-links
                                            a( href="#" target="_blank" ).btn-underline-loupe.case-card__content-link
                                                i.icon-zoom-in
                                                span Yandex Metrica


                    .slider__pagination