section.webinar
    img( src=require('../../img/decor-2.png') alt="").dot.dot-2.webinar__dot-top
    .container
        .webinar__inner
            h3.webinar__title#anchor-webinar Вебинары

            .videos-box.webinar__videos-box
                .videos-box__list-container.swiper-container.webinar__slider

                    .swiper-wrapper.videos-box__list.webinar__slider-list

                        .swiper-slide
                            .video__inner
                                .video__img-box( data-fancybox data-src="https://www.youtube.com/watch?v=iGe-sG1lLhE&feature=youtu.be" )
                                    picture
                                        source( srcset=require('../../img/webinar-1.webp'), type='image/webp' )
                                        img.video__img( loading="lazy" src=require('../../img/webinar-1.jpg') alt="Составление семантического ядра. Бурж vs рунет" width="314px" height="176px")
                                    .video__view
                                        i.icon-play

                                .video__title Составление семантического ядра. Бурж vs рунет

                        .swiper-slide
                            .video__inner
                                .video__img-box( data-fancybox data-src="https://www.youtube.com/watch?v=p2KWzE-YASk&feature=youtu.be" )
                                    picture
                                        source( srcset=require('../../img/webinar-2.webp'), type='image/webp' )
                                        img.video__img( loading="lazy" src=require('../../img/webinar-2.jpg') alt="Мастер-класс. Как сделать ТЗ копирайтеру для инфо статьи под RU/EN." width="314px" height="176px")
                                    .video__view
                                        i.icon-play

                                .video__title Мастер-класс. Как сделать ТЗ копирайтеру для инфо статьи под RU/EN.


                        .swiper-slide.webinar__youtube-slide-container
                            a(href="#" target="_blank").contact-box.videos-box__link-box.webinar__youtube.webinar__youtube-slide
                                .webinar__youtube-box
                                    svg
                                        use( xlink:href=sprite('youtube') )

                                p.webinar__youtube-text Смотреть больше на нашем

                                span.webinar__youtube-title  <span class="red">Youtube</span> канале

                    .slider__pagination

                a(href="https://www.youtube.com/channel/UCNBikumX5OOwIura54M_Aiw" target="_blank").contact-box.videos-box__link-box.webinar__youtube

                    i.webinar__youtube-arrow.icon-right-arrow
                    p.webinar__youtube-text Смотреть больше на нашем
                    .webinar__youtube-box
                        svg
                            use( xlink:href=sprite('youtube') )

                        span  <span class="red">Youtube</span> канале
