section.cooperation
    picture 
        source( srcset=require('../../img/partner-bg.webp'), type='image/webp' )
        img( loading="lazy" src=require('../../img/partner-bg.jpg') alt="" width="414px" height="1116" ).cooperation__background
    
    .container
        .cooperation__inner
            h2.section-title-icon.cooperation__title#anchor-coop
                span Сотрудничество для Телеграм-каналов
                .section-title-icon__box
                    span.line
                    i.icon-telegram
                    span.line

            .row
                .col-12.col-lg-6.cooperation__image-column
                    picture
                        source( srcset=require('../../img/partner-img.webp'), media="(min-width: 768px)" type='image/webp' )
                        source( srcset=require('../../img/partner-img.png') media="(min-width: 768px)" )
                        source( srcset=require('../../img/partner-img-xs.webp'), type='image/webp' )
                        img( loading="lazy" src=require('../../img/partner-img-xs.png') alt="" width="414px" height="276px" )

                .col-12.col-lg-6.cooperation__content
                    p.mb-45.cooperation__content-description.
                        Имеете блог в подходящей тематике или вас часто спрашивают о том, где заказать семантическое ядро?<br/>
                        <br/>
                        Присоединяйтесь к моей партнерской программе и получайте 15-20% от каждого заказа.


                    .section-subtitle-2 $750
                    p.mb-35 Максимальная единоразовая выплата партнеру за одного клиента.

                    .section-subtitle-2 $6000
                    p Максимальный доход партнера за 3 месяца.

            .row
                a(href="http://partner.alexpavlutskiy.com/" target="_blank").cooperation__button.btn.btn-primary Присоединиться