section.contacts
    .container
        h2.section-title.contacts__title#anchor-contacts Контакты
        .contacts__inner
            img( src=require('../../img/decor-1.png') alt='').dot.dot-1.contacts__dot-left
            h3.contacts__subtitle Свяжитесь с нами:
            .contacts__row
                .contacts__social-list
                    a( href="tel:+380985719818" target="_blank").contacts__social.contacts-social
                        .contacts-social__inner
                            i.icon-whatsapp
                            span
                                .contacts-social__value +380 93 153 90 90
                                .contacts-social__name WhatsApp

                    a( href="mailto:alex.pavlutskiy@gmail.com" target="_blank").contacts__social.contacts-social
                        .contacts-social__inner
                            i.icon-at
                            span
                                .contacts-social__value info@nx-agency.com

                    a( href="https://t.me/alexpavlutskiy" target="_blank").contacts__social.contacts-social
                        .contacts-social__inner
                            i.icon-telegram
                            span
                                .contacts-social__value @nx-agency
                                .contacts-social__name Телеграм

                    a( href="https://www.facebook.com/Sasha.Pavlutskiy" target="_blank").contacts__social.contacts-social
                        .contacts-social__inner
                            i.icon-facebook
                            span
                                .contacts-social__value @nx-agency


                .contacts__media-list

                    a( href="http://nx-agency.com/" target="_blank").contacts__media.contacts-media
                        .contacts-media__inner
                            i.icon-website
                            span
                                .contacts-media__title Сайт
                                div агенства

                    a( href="https://alexpavlutskiy.com/" target="_blank").contacts__media.contacts-media
                        .contacts-media__inner
                            i.icon-blog
                            span
                                .contacts-media__title Блог
                                div агенства

                    a( href="https://t.me/pavlutskiy" target="_blank").contacts__media.contacts-media
                        .contacts-media__inner
                            i.icon-telegram-filled.is-small
                            span
                                .contacts-media__title Телеграм
                                div канал




            .contacts-team
                .contacts-team__head
                    h3.contacts__subtitle.contacts-team__subtitle Наша команда:

                    .slider__arrows.contacts-team__slider-arrow
                        .slider__arrow.btn.btn-round-arrow.swiper-button-prev
                            i.icon-left-arrow
                        .slider__arrow.btn.btn-round-arrow.swiper-button-next
                            i.icon-right-arrow

                .swiper-container.contacts-team__slider
                    .swiper-wrapper

                        .contacts-team-item.swiper-slide
                            img.contacts-team-item__img( src=require('../../img/team/team-1.jpg') alt="Павлуцкий Александр")
                            .contacts-team-item__name Павлуцкий Александр
                            .contacts-team-item__profession CEO

                        .contacts-team-item.swiper-slide
                            img.contacts-team-item__img( src=require('../../img/team/team-2.jpg') alt="Gatsharan Sangrota")
                            .contacts-team-item__name Gatsharan Sangrota
                            .contacts-team-item__profession Главный Ядерщик

                        .contacts-team-item.swiper-slide
                            img.contacts-team-item__img( src=require('../../img/team/team-3.jpg') alt="Herse Hedman")
                            .contacts-team-item__name Herse Hedman
                            .contacts-team-item__profession Copywriter

                        .contacts-team-item.swiper-slide
                            img.contacts-team-item__img( src=require('../../img/team/team-4.jpg') alt="Jordan Ntolo")
                            .contacts-team-item__name Jordan Ntolo
                            .contacts-team-item__profession Copywriter

                        .contacts-team-item.swiper-slide
                            img.contacts-team-item__img( src=require('../../img/team/team-5.jpg') alt="Azar Hosseini")
                            .contacts-team-item__name Azar Hosseini
                            .contacts-team-item__profession Copywriter

                        .contacts-team-item.swiper-slide
                            img.contacts-team-item__img( src=require('../../img/team/team-6.jpg') alt="Hu Guiying")
                            .contacts-team-item__name Hu Guiying
                            .contacts-team-item__profession Copywriter


                    .slider__pagination.contacts-team__pagination